@font-face {
    font-family: "Furore";
    font-weight: 400;
    src: url('../fonts/Furore.otf')
}

p {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.roboto {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 400;
}

.furore {
    font-family: 'Furore', 'Arial', sans-serif;
    font-weight: 400;
}

.main_text_size {
    font-size: 14px;
    line-height: 20px;
}

header {
    height: 139px;
}

.header__caption {
    font-size: 20px;
}

.header__contacts{
    display: flex;
    align-items: center;
}

.contacts__phones{
    list-style-type: none;
    margin-bottom: 0;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
}

.navbar{
    background-color: #FFF;
    justify-content: space-around;
    padding: 22px 0 22px 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar-nav > li{
    background-color: #FFF;
}

.navbar-light .navbar-nav .nav-link{
    color: #000;
}

.nav-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    width: 100%;
    height: 100%;
    padding-top: 32px;
}

#area_top_star{
    padding-top: 38px;
    padding-bottom: 65px;
    position: relative;
    overflow: hidden;
}

#head_picture{
    background-image: url('../images/house.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 20px;
    height: calc(74vw * 9 / 16);
}


h1{
    font-size: 20px;
    line-height: 26px;  
}

#amount_objects{
    height: 150px;
    width: 150px;
    background-image: url('../images/newStar.svg');
    background-repeat: no-repeat;
    z-index: 2;
}

#more{
    font-family: 'Furore';
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #FFF;
    margin-top: -3px;
    margin-bottom: 13px;
}

#amount_objects__number{
    font-family: 'Furore';
    font-weight: 400;
    font-size: 36px;
    line-height: 26px;
    color: #FFF;
}

#ready_objects{
    margin-bottom: 78px;
}

#header_back_star{
    position: absolute;
    bottom: 0;
    right: -71px;
    z-index: -1;
    bottom: 40px;
    right: -360px;
}

#header_shadow_back_star{    
    position: absolute;
    bottom: 0;
    right: -71px;
    z-index: -2;
    bottom: 40px;
    right: -320px;
}

#exampletoparea{
    position: relative;
    overflow: hidden;
    padding-top: 69px;
}

#example_top_star{
    position: absolute;
    top: 5px;
    left: -280px;
    z-index: -1;
}

#example_shadow_top_star{
    position: absolute;
    top: 5px;
    left: -320px;
    z-index: -2;
}

.carousel-indicators{
    bottom: -40px;
}

.carousel-indicators > li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #FFF;
}

.carousel-indicators > li.active {
    background-color: #A6652E;;
}

#examplearea{
    position: relative;
    overflow: hidden;
    height: 200px;
}

#example_star{
    position: absolute;
    top: -1600px;
    left: -345px;
    z-index: -1;
}

#example_shadow_star{
    position: absolute;
    top: -1610px;
    left: -390px;
    z-index: -2;
}

.headline{
    text-align: center;
    font-size: 20px;
}

.advantage_item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantage_item__label{
    text-align: center;
}

#videoad {
    margin-bottom: 20px;
}

/* #order_example{
    margin-bottom: 69px;
} */

#carouselExampleControls {
    margin-bottom: 337px;
}

#price_caption {
    font-size: 14px;
}

.price__item {
    position: relative;
    overflow: hidden;
    flex: 0 1 auto;
    padding: 20px 15px 30px 0; 
    border: 1px solid #D9D9D9;
    border-radius: 10px;
}

#starprice{
    position: absolute;
    z-index: -1;
}

#shadowstarprice{
    position: absolute;
    z-index: -2;
}

.imagepos{
    position: absolute;
}

.price__name {
    text-align: center;
    font-size: 24px;
    margin-bottom: 63px;
}

.price__value {
    text-align: center;
    font-size: 24px;
    margin-bottom: 37px;
}

.price__list {
    font-size: 16px
}

.price__note{
    text-align: right;
    font-size: 12px;
}

#before_contacts{
    margin-bottom: 20px;
}

#head__contacts{
    margin-bottom: 24px;
}

#area_for_bottom_star{
    padding-top: 65px;
    position: relative;
    overflow: hidden;
}

#footer_back_star{
    position: absolute;
    bottom: 0;
    right: -71px;
    z-index: -1;
    bottom: -1882px;
    right: -395px;
}

#footer_shadow_back_star{    
    position: absolute;
    bottom: 0;
    right: -71px;
    z-index: -2;
    bottom: -1875px;
    right: -360px;
}


#contacts__company{
    font-size: 20px;
    margin-bottom: 20px;
}

.contacts__elem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contacts__item {
    display: flex;
    flex-direction: column;
}

.contacts__item__name{
    margin-bottom: 0;
}

.contacts__item__data{
    margin-bottom: 0;
}

#laris_geo {
    margin-right: 30px;
}

footer {
    background-color: #A6652E;
    color: #FFF;
}

footer a {
    text-decoration: none;
    color: #FFF;
    margin-right: 15px;
}

footer a:hover {
    color: #FFF;
    text-decoration: none;
}